
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
    color: #111111;
    line-height: 1.6;
}
header, section, footer {
    padding: 2rem;
    max-width: 960px;
    margin: auto;
}
h1, h2 {
    color: #222831;
}
a {
    color: rgb(243, 207, 63);
    text-decoration: none;
}
.btn {
    background-color: #222831;
    color: #111111;
    padding: 0.5rem 1rem;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 4px;
    font-weight: bold;
}
.skills ul li {
    background-color: rgb(160, 78, 6);
    color: white;
    padding: 0.4rem 0.7rem;
    display: inline-block;
    margin: 0.2rem;
    border-radius: 5px;
}
.highlights li {
    background-color: rgb(38, 28, 20);
    padding: 0.4rem;
    display: inline-block;
    margin: 0.3rem;
    color: white;
    border-radius: 4px;
}
.projects .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}
.project-card {
    border: 1px solid rgb(38, 28, 20);
    padding: 1rem;
    border-radius: 5px;
    background-color: #111;
}
footer {
    text-align: center;
    padding: 2rem;
    font-size: 0.9rem;
    color: rgb(165, 165, 186);
}
